# Importing packages

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from tqdm import tqdm
import pickle
import tensorflow as tf
import os
import glob

from sklearn.metrics import mean_squared_error, f1_score, accuracy_score, mean_absolute_error, r2_score,plot_confusion_matrix,classification_report
from sklearn.model_selection import cross_val_score, train_test_split, KFold,GridSearchCV,RepeatedStratifiedKFold 
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder, RobustScaler, OrdinalEncoder
from sklearn.linear_model import LogisticRegression

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

from sklearn.feature_selection._base import SelectorMixin
from sklearn.feature_extraction.text import _VectorizerMixin

In [3]:
physical_devices = tf.config.list_physical_devices('GPU') 
tf.config.experimental.set_memory_growth(physical_devices[0], True)

In [4]:
import warnings # Ignore alert messages
warnings.simplefilter(action='ignore', category=FutureWarning)

In [5]:
plt.rcParams.update({
    'font.size': 18,
    'axes.linewidth':2,
    'axes.titlesize': 20,
    'lines.linewidth' : 1.5,
    'lines.markersize' : 10,
    'figure.figsize': (25,10),
    'xtick.labelsize': 15, 
    'ytick.labelsize': 15,
    'font.family': 'Arial',
    'legend.fontsize':14,
    'axes.labelsize':20,
    'axes.grid':True,
})

# Importing dataset

In [6]:
df_train = pd.read_csv('Processed_data/df_train.csv.zip')
df_val = pd.read_csv('Processed_data/df_val.csv.zip')

In [7]:
df_train

,Time(s),Flow_Rate(ml/m),Upstream_Pressure(psi),Downstream_Pressure(psi),Sample,Particle Size (micron),Solid Ratio(%),Pressure drop (psi),Clogged
0,0.0,9.935067,-0.30000,-1.10625,1,45-53,0.40,0.80625,0
1,0.1,4.110983,0.61250,-0.34375,1,45-53,0.40,0.95625,0
2,0.2,5.098116,1.05625,-0.08125,1,45-53,0.40,1.13750,0
3,0.3,10.231207,1.20000,0.84375,1,45-53,0.40,0.35625,0
4,0.4,8.355655,0.93125,0.79375,1,45-53,0.40,0.13750,0
...,...,...,...,...,...,...,...,...,...
62819,218.5,208.447512,16.95000,0.34375,44,63-75,0.45,16.60625,0
62820,218.6,210.717918,17.22500,0.73750,44,63-75,0.45,16.48750,0
62821,218.7,208.546225,17.39375,0.66250,44,63-75,0.45,16.73125,0
62822,218.8,204.795120,17.17500,0.31875,44,63-75,0.45,16.85625,0
62823,218.9,199.662029,16.91875,-0.26875,44,63-75,0.45,17.18750,0

# Machine learning models